.contact-style {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #FFF;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

footer {
    margin: 0px auto;
    width: 260px;
}
.contact-style h1 {
    font: 60px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.contact-style h1>span {
    display: block;
    font-size: 30px;
    color: #C4C2C2;
}
.contact-style label {
    display: block;
    margin: 0px 0px 5px;
}
.contact-style label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #969696;
}
.contact-style input[type="text"], .contact-style input[type="email"], .contact-style textarea,.contact-style select{
    color: #555;
    width: 50%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.contact-style textarea{
    height:200px;
    padding: 5px 0px 0px 5px;
    width: 50%;
    background-image: url("cat.gif");
    background-position: -20px;
    
}
.contact-style .button{
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height: 40px;
    line-height: 30px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #c70067;
}
.contact-style .button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
    background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
    background-color:#ef027d;
}
.contact-style .button:active {
    position:relative;
    top:1px;
}
.contact-style select {
    background: url(#notsureyet) no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url(#notsureyet) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 52%;
    line-height: 15px;
    height: 30px;
}

#sociallinks {
    margin-bottom: 10%;
    width: 63%;
    margin: 0 auto;
    background-image: url('/images/keys.jpg');
    background-size: contain;
}

#techLogos {
    width: 100%;
    margin: 0 auto;


}

#rutgersVF{
    margin-top:  2%;
}

#myCarousel{
    margin-bottom: 10%;
    width: 47%;
    margin: 0 auto;
}

#imgC {
    width: 100%;
    height: auto%;
    max-height: 50px%;
}

.carousel-content {
  position: absolute;
  bottom:10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

body { 
  background: url(../images/maps_future.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -20;
  width:100%;
  height:100%;
}


h2{
     text-align: center;
 }


th td tr {
word-wrap: break-word;
max-width: 150px;

}
#reP{
   text-align: center;
   color: white;
}
#HC{
    
}

.panel-default > .panel-heading {

    background-color: #212526;
}

#accordian{
     background-color: #212526;
}

#port{
    background-color: #212526;
    /*background-color: linear-gradient(to transparent, #212526 , transparent);*/
}
